* {
	box-sizing: border-box;
}

body { 
	font-size: 1.25rem;
	padding-bottom: 70px;
	color: #181212 !important; 
	font-family: 'Inter', sans-serif;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.btn-flower {
	width: 50px;
}

.btnTopImage:after {
    content:'';
    width: 15px; 
    height: 15px; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;   
    border-top: 20px solid #f00;
    position:absolute;
    left:50%;
    top:0;
    transform:translatex(-50%);
}

.fixed-top-nav { 
	left: 0;
	right: 0;
	position: fixed;
	top: 0;
	border-width: 0 0 1px;
	z-index: 1030;
	margin-bottom: 70px;
}

#divScrollBtn {	
    display: block;
	visibility: hidden;
	opacity: 0;
    transition: visibility 0s,opacity .5s ease-in;
    position: fixed;
    bottom: 65px;
    right: 65px;
	height: 30px;
	width: 30px;
}

.btn-round {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: #99a885;
	padding: 10px;
}

@keyframes bounce {
	from {
	  transform: translateY(0px);
	}
	to {
	  transform: translateY(-20px);
	}
}

.box:hover {
animation:
  bounce 300ms
  alternate infinite
  cubic-bezier(.2, .65, .6, 1);
}
  
body.sticky-bottom-footer { padding-bottom: 0; }

.container { 
	max-width: 800px; 
	margin-top: 80px;
}

.profile img { width: 100%; }

.default-font-color { color: #181212; }
.brand-color { color: #FCB8A2; }
.dark-accent-color { color: #99A885; }
.light-accent-color { color: #CDC8BF; }
.light-shade-color { color: #F6F6F6; }
.dark-shade-color { color: #A37A6D; }

.job-title {
	color: #181212;
	position: absolute;
	font-size: 1.5rem;
}

code {
	color: #99A885;
}

#background {
	left: 0;
    top: -1vw;
    width: 30vw;
	fill: #99A885;
    position: absolute;
    transition: fill 0.2s;
    z-index: -1;
}

.content-animation {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes slideDown {
	0% {
	  transform: translateY(-100%);
	}
	100% {
	  transform: translateY(0);
	}
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.banner-logo {
	width: 40px;
}

.square-portrait {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.square-portrait img{
    width: 100%;
    height: auto;
    margin-top: -60px;
}

.no-whitespace {
	whitespace: nowrap;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.rotate-me:hover, .rotate-me:hover:after {
  animation: rotation 2s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

